<h3 class='center'>Welcome to Pancake!</h3>
<h4>Round</h4>
<div>
  <div></div><div>0</div><div></div>
</div>
<table class='table'>
  <tr>
    <th>Name</th>
    <th>Score</th>
    <th>+1</th>
    <th>+5</th>
    <th>+10</th>
    <th>-10</th>
    <th>-1</th>
  </tr>
</table>
<hr>
<div class="container">
<input type="text" class="form-control" placeholder="name">
<br>
<a href="" class='btn btn-success'>New Player</a>
<br>

<a href="" class='btn btn-danger'>Reset</a>
</div>