<h3 class='center'>Welcome to Pancake!</h3>
<hr>
<h4 class="center">Round</h4>
<div class='center score'>
  <span><%= image_tag "minus.png", class: "score-btn", id: "minus-round" %></span>
  <span id="round-num">0</span>
  <span><%= image_tag "add.png", class: "score-btn", id: "add-round"%></span>
</div>
<table class='table'>
  <tr>
    <th>Name</th>
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>test</th>
    <td>0</td>
    <td class='btn-sm btn-success'>+1</td>
    <td class='btn-sm btn-success'>+5</td>
    <td class='btn-sm btn-success'>+10</td>
    <td class='btn-sm btn-danger'>-10</td>
    <td class='btn-sm btn-danger'>-1</td>
  </tr>
  <tr>
    <td>test</th>
    <td>0</td>
    <td class='btn-sm'>+1</td>
    <td class='btn-sm'>+5</td>
    <td class='btn-sm'>+10</td>
    <td class='btn-sm'>-10</td>
    <td class='btn-sm'>-1</td>
  </tr>
</table>
<hr>
<div class="container">
<input type="text" class="name-field" placeholder="Player's Name" maxlength="10">

<a href="#" class='btn btn-success'>Add Player</a>
<br>
<br>
<a href="" class='btn btn-danger'>Reset</a>
</div>