<h3 class='center'>Welcome to Pancake!</h3>
<hr>
<h4 class="center">Round</h4>
<div class='center score-board'>
  <span><%= image_tag "minus.png", class: "score-btn", id: "minus-round" %></span>
  <span id="round-num">0</span>
  <span><%= image_tag "add.png", class: "score-btn", id: "add-round"%></span>
</div>
<table class='table'>
  <tr>
    <th>Name</th>
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>
<hr>
<div class="container">

  <form>
    <input type="text" class="name-field" id='player-name' placeholder="Player's Name" lable="name">

    <button class='btn btn-success'>Add Player</button>
    <br>
    <br>
    <a href="#" class='btn btn-danger' id="resetScore">Reset Score</a>
  </form>
</div>

